@media (max-width: 768px) {
  .header {
    justify-content: space-between;
  }

  nav {
    width: 50%;
  }

  nav ul {
    justify-content: space-between;
    align-items: center;
  }

  nav li {
    margin: 5px 0;
  }

  input,
  textarea {
    width: 90%;
  }

  main {
    padding: 10px;
    max-width: 90%;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }
}

@media (max-width: 368px) {
  nav {
    width: 50%;
  }

  h1 {
    font-size: 20px;
  }

  nav ul {
    justify-content: space-between;
  }

  a {
    font-size: 14px;
  }

  p {
    font-size: 11px;
  }
}